<!--
Copyright 2012, Jan Jansen
Licensed under the  GPL Version 3 licenses.
http://www.gnu.org/licenses/gpl-3.0.html
-->
<!DOCTYPE html>
<html>
    <head>
        <title>First Test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="../../static/libs/jquery-1.7.2.js" type="text/javascript"></script>
        <script src="../../static/libs/gl-matrix.js" type="text/javascript"></script>
        <script src="../../static/libs/webgl-debug.js" type="text/javascript"></script>
        <script src="../../static/libs/bootstrap.js" type="text/javascript"></script>

        <script src="../../static/src/core/glQuery.core.js" type="text/javascript"></script>
        <script src="../../static/src/core/glQuery.action.js" type="text/javascript"></script>
        <script src="../../static/src/core/glQuery.events.js" type="text/javascript"></script>
        <script src="../../static/src/core/glQuery.animation.js" type="text/javascript"></script>

        <script src="../../static/src/scene/glQuery.scene.js" type="text/javascript"></script>

        <script src="../../static/src/webGL/glQuery.webgl.js" type="text/javascript"></script>
        <script src="../../static/src/webGL/glQuery.shader.js" type="text/javascript"></script>


        <script src="../../static/src/objects/glQuery.mesh.js" type="text/javascript"></script>
        <script src="../../static/src/objects/glQuery.object.js" type="text/javascript"></script>

        <script src="../../static/src/cameras/glQuery.camera.js" type="text/javascript"></script>
        <script src="../../static/src/cameras/glQuery.perspective.camera.js" type="text/javascript"></script>
        <script src="../../static/src/cameras/glQuery.orthographic.camera.js" type="text/javascript"></script>

        <script src="../../static/src/lights/glQuery.light.js" type="text/javascript"></script>
        <script src="../../static/src/lights/glQuery.ambient.light.js" type="text/javascript"></script>
        <script src="../../static/src/lights/glQuery.directional.light.js" type="text/javascript"></script>
        <script src="../../static/src/lights/glQuery.point.light.js" type="text/javascript"></script>
        <script src="../../static/src/lights/glQuery.spot.light.js" type="text/javascript"></script>

        <script src="../../static/src/materials/glQuery.material.js" type="text/javascript"></script>
        <script src="../../static/src/materials/glQuery.textures.js" type="text/javascript"></script>


        <script src="../../static/src/extra/parser/collada/glQuery.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.animation.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.scene.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.object.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.camera.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.light.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.material.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.mesh.collada.js" type="text/javascript"></script>
        <script src="../../static/src/extra/parser/collada/glQuery.textures.collada.js" type="text/javascript"></script>

        <script src="../../static/src/extra/glQuery.physics.js" type="text/javascript"></script>
        <script src="../../static/src/extra/gui/glQuery.input.js" type="text/javascript"></script>
<!-- 
        <script src="../../engine/extra/gui/glQuery.gui.js" type="text/javascript"></script>
        <script src="../../engine/extra/gui/glQuery.gui.utils.js" type="text/javascript"></script>
 -->
        <script>
            glQuery.ready(function(){
                console.log("test");
                //glQuery("light#1").create("")
                //glQuery(".test").rotate(180, [1,1,0], 3000, "linear", function(){})
                //glQuery("#Cube").move([2,-1,-10], 30000, "linear", function(){})
            });
        </script>
        <link rel="stylesheet" href="../../static/css/glQuery.css" />
        <link rel="stylesheet" href="../../static/css/bootstrap.css" />
    </head>
    <body>
        <div class="glQuery">
            <canvas id="demo" type="glQuery" fullscreen="true" debug="true" partTo="../../" scene="../../static/obj/test9.dae"></canvas>
            <div class="glQuery-gui">
                <div class="glQuery-winmode">
                    <section class="container">
                        
                    </section>
                </div>
            </div>
        </div>

    </body>

</html>
